In [2]:
import pandas as pd

In [3]:
from matplotlib import pyplot as plt

In [4]:
df=pd.read_csv("insurance_data.csv")

In [5]:
df

    age  bought_insurance
0    22                 0
1    25                 0
2    47                 1
3    52                 0
4    46                 1
5    56                 1
6    55                 0
7    60                 1
8    62                 1
9    61                 1
10   18                 0
11   28                 0
12   27                 0
13   29                 0
14   49                 1
15   55                 1
16   25                 1
17   58                 1
18   19                 0
19   18                 0
20   21                 0
21   26                 0
22   40                 1
23   45                 1
24   50                 1
25   54                 1
26   23                 0

In [6]:
from sklearn.model_selection import train_test_split

In [93]:
X_train,X_test,Y_train,Y_test=train_test_split(df[["age"]],df.bought_insurance,train_size=0.8,random_state=42)

In [94]:
X_train

    age
16   25
17   58
12   27
24   50
1    25
4    46
5    56
2    47
15   55
22   40
3    52
25   54
23   45
18   19
26   23
20   21
7    60
10   18
14   49
19   18
6    55

In [95]:
X_test

    age
8    62
13   29
9    61
21   26
0    22
11   28

In [96]:
Y_train

16    1
17    1
12    0
24    1
1     0
4     1
5     1
2     1
15    1
22    1
3     0
25    1
23    1
18    0
26    0
20    0
7     1
10    0
14    1
19    0
6     0
Name: bought_insurance, dtype: int64

In [97]:
Y_test

8     1
13    0
9     1
21    0
0     0
11    0
Name: bought_insurance, dtype: int64

In [98]:
from sklearn.linear_model import LogisticRegression

In [99]:
model=LogisticRegression()

In [100]:
model.fit(X_train,Y_train)

LogisticRegression()

In [101]:
Y_predicted=model.predict(X_test)

In [102]:
Y_predicted_train=model.predict(X_train)

In [103]:
Y_test

8     1
13    0
9     1
21    0
0     0
11    0
Name: bought_insurance, dtype: int64

In [104]:
from sklearn.metrics import accuracy_score

In [105]:
accuracy_score(Y_test,Y_predicted)

1.0

In [106]:
accuracy_score(Y_train,Y_predicted_train)

0.8571428571428571